<!-- About Section -->
<section class="success" id="about" style="background-color: #{{ site.color.primary }};">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Who we are</h2>
        <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 27px;">
          <div style="background-color: white; height: 5px; width: 100px;"></div>
          <div style="margin: 7px;"><i class="fa-solid fa-code" style="font-size: 2em;"></i></div>
          <div style="background-color: white; height: 5px; width: 100px;"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p>Whether you're looking for intelligent software development or to harness the power of AI, we'll give your project the attention it deserves.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p>We work closely with organisations to develop software that finds answers to their biggest problems, leveraging proven and emerging technology to craft solutions that address their unique needs.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p>We may know software development like the back of our hand, but no one understands your business challenges quite like you. At MindFunc we listen to your pain points and learn, forging a partnership built on collaboration and trust, and an environment where digital transformation is not just a buzzword, but a reality.</p>
      </div>
    </div>
  </div>
</section>