<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!--<img class="img-responsive" src="img/profile.png" alt="MindFunc logo" />-->
        <div class="intro-text">
          <span class="tagline">Software development that</span>
          <span class="tagline">gets you where you want to be.</span>

          <div class="page-scroll" style="text-align: left;">
            <a href="#portfolio" class="btn btn-lg btn-outline">
              <i class="fa-solid fa-chevron-down" style="margin-right: 10px;"></i> What we do
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
