<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#page-top" style="color: #ffffff; display: flex; align-items: center;">
        <img id="mindfunc-dot" class="img-responsive" src="img/dot.png" alt="MindFunc" style="margin-right: 5px; margin-bottom: 5px;" />
        {{ site.title }}
      </a>
      
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <!--<li class="page-scroll">
          <a href="#portfolio" style="color: #ffffff;">Services</a>
        </li>-->
        <li class="page-scroll">
          <a href="#about" style="color: #ffffff; text-transform: uppercase;">About</a>
        </li>
        <li class="page-scroll">
          <a href="#contact" style="color: #ffffff; text-transform: uppercase;">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
