<!-- Services Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>What we do</h2>
        <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 27px;">
          <div style="background-color: #{{ site.color.primary }}; height: 5px; width: 100px;"></div>
          <div style="margin: 7px;"><i class="fa-solid fa-code" style="font-size: 2em;"></i></div>
          <div style="background-color: #{{ site.color.primary }}; height: 5px; width: 100px;"></div>
        </div>
      </div>
    </div>
    <div class="portfolio-flex-row">
      {% for post in site.posts %}
      <div class="portfolio-flex-item portfolio-item">
        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal" style="background-color: #{{ site.color.primary }};">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-code fa-3x"></i>
            </div>
          </div>
          <img src="img/services/{{ post.img }}_b.png" class="img-responsive" alt="{{ post.category }}">
        </a>
        <div class="portfolio-caption">
          <h4 style="color: #{{ site.color.primary }}; font-size: 27px; font-weight: 700;">{{ post.category }}</h4>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
